<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">
                    Complaint By Distributor
                </span>
                <ul class="breadcrumbs">
                    <li><a routerLink="/admin/dashboard">Home</a></li>
                    <li><a routerLink="/admin/distributor-list">Distributors</a></li>
                    <li class="active">Complaint By Distributor</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <form [formGroup]="formContent" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="input-field col s12 m4 l4">
                                    <input  class="validate" type="text" 
                                        style="text-transform:uppercase" formControlName="date"  required />
                                    <label for="first_name">Date<span class="red-text">*</span></label>
                                    <div *ngIf="submitted && f.date.errors" class="invalid-input">
                                        <span class="red-text"><strong>Required*</strong></span>
                                    </div>
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <input id="applicantFirstName" name="complaint_by"
                                        class="form-control input_capital  capitalize" type="text" 
                                        style="text-transform:uppercase" class="validate"
                                        formControlName="complaint_by"  required />
                                    <label for="middle_name">complaint By<span class="red-text">*</span></label>
                                    <div *ngIf="submitted && f.complaint_by.errors" class="invalid-input">
                                        <span class="red-text"><strong>Required*</strong></span>
                                    </div>

                                </div>

                                <div class="input-field col s12 m4 l4">
                                    <input id="subject" name="subject" class="validate" type="text" 
                                        style="text-transform:uppercase" formControlName="subject"  required />
                                    <label for="subject">Subject <span class="red-text">*</span></label>
                                    <div *ngIf="submitted && f.subject.errors" class="invalid-input">
                                        <span class="red-text"><strong>Required*</strong></span>
                                    </div>
                                </div>

                                <div class="input-field col s12 m4 l4">
                                    <input id="complaint" name="complaint" class="validate" type="text" 
                                        style="text-transform:uppercase" formControlName="complaint"  required />
                                    <label for="complaint">complaint <span class="red-text">*</span></label>
                                    <div *ngIf="submitted && f.complaint.errors" class="invalid-input">
                                        <span class="red-text"><strong>Required*</strong></span>
                                    </div>
                                </div>

                                <div class="input-field col s12 m4 l4">
                                    <input id="msg" class="validate" type="text" 
                                        style="text-transform:uppercase" formControlName="msg"  required />
                                    <label for="msg">Reply Messege <span class="red-text">*</span></label>
                                    <div *ngIf="submitted && f.msg.errors" class="invalid-input">
                                        <span class="red-text"><strong>Required*</strong></span>
                                    </div>
                                </div>
                            </div>


                            <!-- <div><label>Image {{res.data.document_one}}</label></div>
                            <div class="input-field col s12 m4 l4">
                                <a href={{res.data.document_one}} target="_blank" download  >
                                    <img src={{res.data.document_one}} alt="image" height="50px"  >
                                </a>
                            </div> -->


                            <div class="col s12 m4 l4" *ngIf="photoviewone">
                                <a href={{photoviewone}} target="_blank" download>
                                    <img src={{photoviewone}} alt="photoviewone" height="400px" />
                                </a>
    
                            </div>
    
                            <div class="col s12 m4 l4" *ngIf="photoviewone">
                                <a href={{photoviewtwo}} target="_blank" download>
                                    <img src={{photoviewtwo}} alt="photoviewtwo" height="400px" />
                                </a>
                            </div>
    
                            <div class="col s12 m4 l4" *ngIf="photoviewthree">
                                <a href={{photoviewthree}} target="_blank" download>
                                    <img src={{photoviewthree}} alt="photoviewthree" height="400px" />
    
                                </a>
                            </div>
    
                            <div class="col s12 m4 l4" *ngIf="photoviewfour">
                                <a href={{photoviewfour}} target="_blank" download>
                                    <img src={{photoviewfour}} alt="photoviewfour" height="400px" />
                                </a>
                            </div>
    
                            <div class="col s12 m4 l4" *ngIf="photoviewfive">
                                <a href={{photoviewfive}} target="_blank" download>
                                    <img src={{photoviewfive}} alt="photoviewfive" height="400px" />
                                </a>
    
                            </div>
    




                            <div class="row" style="float:right;">
                                <div class="col s12">
                                    <button type="submit" class="btn btn-save">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>