<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">
                    SCT Result View
                </span>
                <ul class="breadcrumbs">
                    <li><a routerLink="/admin/dashboard">Home</a></li>
                    <li class="active">SCT Result View</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <!-- <span style="float: right;">
                                    <a routerLink="/admin/distributor-add" class="waves-effect waves-light btn"><i
                                            class="material-icons left">library_add</i>Add Distributor</a></span> -->
                            </div>
                        </div>
               

                        <form [formGroup]="formGroupNew" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="input-field col s12 m4 l4">
                                    <i class="material-icons prefix">account_circle</i>
                                    <label for="first_name">Name:-  {{ formGroupNew.get('fname').value }}</label>
                                </div>
    
    
                                <div class="input-field col s12 m4 l4">
                                    <i class="material-icons prefix">add_location</i>
                                    <label for="mobile_number">Area:-  {{ formGroupNew.get('area').value }}</label>
    
                                </div>
                                <div class="input-field col s12 m4 l4">
                                    <i class="material-icons prefix">airplay</i>
                                    <label>Description:- {{ formGroupNew.get('description').value }}</label>
                                   
                                </div>
    
                                <!-- <div class="input-field col s12 m4 l4">
                                    <i class="material-icons prefix">add_location</i>
                                    <label>Lat:-  {{ formGroupNew.get('photo_one_lat').value }}</label>
    
                                </div>
    
    
                                <div class="input-field col s12 m4 l4">
                                    <i class="material-icons prefix">add_location</i>
                                    <label>Lon:-  {{ formGroupNew.get('photo_one_long').value }}</label>
    
                                </div> -->

                                <div class="input-field col s12 m4 l4">
                                    
                                </div>
                            </div>
    
                            <div class="col s12 m4 l4" *ngIf="photoviewone">
                                <a href={{photoviewone}} target="_blank" download>
                                    <img src={{photoviewone}} alt="photoviewone" height="400px" />
                                </a>
    
                            </div>
    
                            <div class="col s12 m4 l4" *ngIf="photoviewtwo">
                                <a href={{photoviewtwo}} target="_blank" download>
                                    <img src={{photoviewtwo}} alt="photoviewtwo" height="400px" />
                                </a>
                            </div>
    
                            <div class="col s12 m4 l4" *ngIf="photoviewthree">
                                <a href={{photoviewthree}} target="_blank" download>
                                    <img src={{photoviewthree}} alt="photoviewthree" height="400px" />
    
                                </a>
                            </div>
    
                            <div class="col s12 m4 l4" *ngIf="photoviewfour">
                                <a href={{photoviewfour}} target="_blank" download>
                                    <img src={{photoviewfour}} alt="photoviewfour" height="400px" />
                                </a>
                            </div>
    
                            <div class="col s12 m4 l4" *ngIf="photoviewfive">
                                <a href={{photoviewfive}} target="_blank" download>
                                    <img src={{photoviewfive}} alt="photoviewfive" height="400px" />
                                </a>
    
                            </div>
    
    
    
                        </form>
                    </div>
                </div>
            </div>
        </div>

