<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">
                    Messages
                </span>
                <ul class="breadcrumbs">
                    <li><a routerLink="/admin/dashboard">Home</a></li>
                    <li><a routerLink="/admin/dashboard">Dashboard</a></li>
                    <li class="active">Messages</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">

                        <div class="row">
                            <form [formGroup]="farmerForm">
                                <div class="input-field col s12 m3 l3">
                                    <select class="" id="msg_status" formControlName="msg_status">
                                        <option value="" disabled selected>Choose Messege</option>
                                        <option value="1">Messege Not Replied</option>
                                        <option value="2">Messege Replied</option>
                                    </select>
                                </div>

                               
                            </form>
                        
                        <div class="input-field col s3">
                            <input [(ngModel)]="searchText" (ngModelChange)="applySearchFilter()" type="text" placeholder="Search">
                          </div>
                        </div>

                        <div class="nowrap">
                            <table style="font-size: small;" class="datatable responsive-table highlight"
                                id="pagedatatable">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap">Sr No.</th>
                                        <th style="white-space: nowrap">Messege ID</th>
                                        <th style="white-space: nowrap">Date</th>
                                        <th style="white-space: nowrap">Recipient</th>
                                        <th style="white-space: nowrap">Give Reply</th>
                                        <th>Subject</th>
                                        <th>Message</th>
                                        <th>Action</th>
                                        <!-- <th style="white-space: nowrap">Document</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let m of filteredList | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
                                        <td>{{(10*(p-1))+(i+1)}}</td>
                                        <td>SCTMSG{{m.id}}</td>
                                        <td style="white-space: nowrap"><span>{{m.date}}</span>

                                            <span *ngIf="m.msg_status == '0'"
                                                style="background-color: green; color:whitesmoke; text-transform: capitalize;"
                                                class="blink_me">New</span>

                                            <span *ngIf="m.msg_status == '1' && m.msg_read == 'y' "
                                                style="background-color: red; color:whitesmoke; text-transform: capitalize;"
                                                class="blink_me">Not Replied</span>

                                            <span *ngIf="m.msg_status == '0' && m.msg_read == 'y' "
                                                style="background-color: rgb(149, 144, 144); color:whitesmoke; text-transform: capitalize;"
                                                class="blink_me">Seen Not Replied</span>
                                        </td>
                                        <td style="white-space: nowrap"><span>{{m.recipient_name}}</span></td>
                                        <td>{{m.subject}}</td>
                                        <td>{{m.message}}</td>
                                        <td>{{m.msg}}</td>
                                        <td style="white-space: nowrap">
                                            <a href="javaScript:void(0)" class="btn-floating" title="Edit"
                                                style="background-color: green;" (click)="editMessege(m.id)"><i
                                                    class="material-icons">edit</i></a>

                                        </td>
                                        <!-- <td style="white-space: nowrap"><a href="javacript:void(0)">{{m.document}}</a></td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>