<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">SCT Structure List</span>
                <ul class="breadcrumbs">
                    <li><a routerLink="/admin/dashboard">Home</a></li>
                    <li class="active">SCT Structure List (Click to view details)</li>
                </ul>
            </div>
        </div>

        <div class="row card">

            <span style="float: right;">
                &nbsp;&nbsp;&nbsp;
                <button type="submit" (click)="getExcelReport()" class="btn btn-save" class="waves-effect waves-light btn">Get Excel</button></span>
                <a id="hiddenLink" target="_blank" style="display: none;"  download>Test</a>


                        
            <div class="col s12 m12 l12">
                <ul class="collapsible">
                    <li
                        *ngFor="let lisspanata of alllist  | paginate: { itemsPerPage: 5, currentPage: p };let i=index;">
                        <div class="collapsible-header" (click)="getBscUnderDSC(lisspanata.user_id)">
                            <table style="font-size: small" class="datatable responsive-table highlight"
                                id="pagedatatable">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap">Sr No.</th>
                                        <th style="white-space: nowrap">DSC Name</th>
                                        <th style="white-space: nowrap">Contact Number</th>
                                        <th style="white-space: nowrap">State</th>
                                        <th style="white-space: nowrap">District</th>
                                        <th style="white-space: nowrap">Taluka</th>
                                        <th style="white-space: nowrap">Village</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{(5*(p-1))+(i+1)}}</td>
                                        <td style="white-space: nowrap"><span
                                                style="text-transform:uppercase">{{lisspanata.fname}}
                                                {{lisspanata.mname}}
                                                {{lisspanata.lname}}</span></td>
                                        <td style="white-space: nowrap">
                                            <span>{{lisspanata.phone}}</span>
                                        </td>
                                        <td style="white-space: nowrap"><span
                                                style="text-transform:uppercase">{{lisspanata.state}}</span>
                                        </td>
                                        <td style="white-space: nowrap"><span
                                                style="text-transform:uppercase">{{lisspanata.district}}</span>
                                        </td>
                                        <td style="white-space: nowrap"><span
                                                style="text-transform:uppercase">{{lisspanata.taluka}}</span>
                                        </td>
                                        <td style="white-space: nowrap"><span
                                                style="text-transform:uppercase">{{lisspanata.city}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="collapsible-body">
                            <ul class="collapsible">
                                <li
                                   >
                                    <div class="collapsible-header modal-trigger" data-target="modal1"
                                        >
                                        <table style="font-size: small" class="datatable responsive-table highlight"
                                            id="pagedatatable">
                                            <thead>
                                                <tr>
                                                    <th style="white-space: nowrap">Sr No.</th>
                                                    <th style="white-space: nowrap">BSC Name</th>
                                                    <th style="white-space: nowrap">Contact Number
                                                    </th>
                                                    <th style="white-space: nowrap">State</th>
                                                    <th style="white-space: nowrap">District</th>
                                                    <th style="white-space: nowrap">Taluka</th>
                                                    <th style="white-space: nowrap">Village</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  *ngFor="let lisspanata_bsc of alllist_bsc  | paginate: { itemsPerPage: 5, currentPage: p };let i=index;" (click)="getFscUnderBsc(lisspanata_bsc.user_id)">
                                                    <td>{{(5*(p-1))+(i+1)}}</td>
                                                    <td style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata_bsc.fname}}
                                                            {{lisspanata_bsc.mname}}
                                                            {{lisspanata_bsc.lname}}</span></td>
                                                    <td style="white-space: nowrap">
                                                        <span>{{lisspanata_bsc.phone}}</span>
                                                    </td>
                                                    <td style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata_bsc.state}}</span>
                                                    </td>
                                                    <td style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata_bsc.district}}</span>
                                                    </td>
                                                    <td style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata_bsc.taluka}}</span>
                                                    </td>
                                                    <td style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata_bsc.city}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="collapsible-body">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <pagination-controls (pageChange)="p = $event">
                    </pagination-controls>
                </ul>
            </div>
        </div>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>FSC List</h4>
            <table style="font-size: small" class="datatable responsive-table highlight" id="pagedatatable">
                <thead>
                    <tr>
                        <th style="white-space: nowrap">Sr No.</th>
                        <th style="white-space: nowrap">FSC Name</th>
                        <th style="white-space: nowrap">Contact Number</th>
                        <th style="white-space: nowrap">State</th>
                        <th style="white-space: nowrap">District</th>
                        <th style="white-space: nowrap">Taluka</th>
                        <th style="white-space: nowrap">Village</th>

                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let listdata_fsc of alllist_fsc | paginate: { itemsPerPage: 5, currentPage: pf };let iff=index;">
                        <td>{{(5*(pf-1))+(iff+1)}}</td>
                        <td style="white-space: nowrap"><span style="text-transform:uppercase">{{listdata_fsc.fname}}
                                {{listdata_fsc.mname}}
                                {{listdata_fsc.lname}}</span></td>
                        <td style="white-space: nowrap">
                            <span>{{listdata_fsc.phone}}</span>
                        </td>
                        <td style="white-space: nowrap"><span
                                style="text-transform:uppercase">{{listdata_fsc.state}}</span>
                        </td>
                        <td style="white-space: nowrap"><span
                                style="text-transform:uppercase">{{listdata_fsc.district}}</span>
                        </td>
                        <td style="white-space: nowrap"><span
                                style="text-transform:uppercase">{{listdata_fsc.taluka}}</span>
                        </td>
                        <td style="white-space: nowrap"><span
                                style="text-transform:uppercase">{{listdata_fsc.city}}</span>
                        </td>
                        <td>

                        </td>

                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pf = $event">
            </pagination-controls>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-light btn">ok</a>
        </div>
    </div>

</main>