<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">
                    SCT Structure List
                </span>
                <ul class="breadcrumbs">
                    <li><a routerLink="/admin/dashboard">Home</a></li>
                    <li class="active">SCT Structure List</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m12 l12">

                            </div>
                        </div>
                        <div class="nowrap">
                            <table style="font-size: small" class="datatable responsive-table highlight"
                                id="pagedatatable">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap">Sr No.</th>
                                        <th style="white-space: nowrap">DSC Name</th>
                                        <th style="white-space: nowrap">Contact Number</th>
                                        <th style="white-space: nowrap">State</th>
                                        <th style="white-space: nowrap">District</th>
                                        <th style="white-space: nowrap">Taluka</th>
                                        <th style="white-space: nowrap">Village</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let lisspanata of alllist | paginate: { itemsPerPage: 5, currentPage: p };let i=index;"
                                        (click)="getBscUnderDSC(lisspanata.user_id)">

                                        <ul class="collapsible">
                                            <li>
                                                <div class="collapsible-header" id="collapsible-header_{{lisspanata.user_id}}"
                                                    (click)="getBscUnderDSC(lisspanata.user_id)">
                                                    <span
                                                        style="background-color: rgb(9, 233, 9); color:whitesmoke; text-transform: capitalize;"
                                                        class="blink_me">DSC</span>
                                                    <span>{{(5*(p-1))+(i+1)}}</span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata.fname}}
                                                            {{lisspanata.mname}}
                                                            {{lisspanata.lname}}</span></span>
                                                    <span
                                                        style="white-space: nowrap"><span>{{lisspanata.phone}}</span></span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata.state}}</span>
                                                    </span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata.district}}</span>
                                                    </span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata.taluka}}</span>
                                                    </span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{lisspanata.city}}</span>
                                                    </span>
                                                </div>
                                                <div class="collapsible-body" id="collapsible-body_{{lisspanata.user_id}}">
                                                    <ul class="collapsible">
                                                        <li
                                                            *ngFor="let lisspanata_bsc of alllist_bsc | paginate: { itemsPerPage: 5, currentPage: p };let i=index;">

                                                            <div class="collapsible-header"
                                                                (click)="getFscUnderBsc(lisspanata_bsc.user_id)">
                                                                <span
                                                                    style="background-color: rgb(131, 158, 131); color:whitesmoke; text-transform: capitalize;"
                                                                    class="blink_me">BSC</span>
                                                                <span>{{(5*(p-1))+(i+1)}}</span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.fname}}
                                                                        {{lisspanata_bsc.mname}}
                                                                        {{lisspanata_bsc.lname}}</span></span>
                                                                <span style="white-space: nowrap">
                                                                    <span>{{lisspanata_bsc.phone}}</span>
                                                                </span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.state}}</span>
                                                                </span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.district}}</span>
                                                                </span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.taluka}}</span>
                                                                </span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.city}}</span>
                                                                </span>
                                                            </div>
                                                            <div class="collapsible-body" id="collapsible-body_{{lisspanata_bsc.user_id}}">
                                                                <ul class="collapsible">
                                                                <li>
                                                                    <div id="id-body_{{lisspanata_bsc.user_id}}" class="collapsible-header"
                                                                        *ngFor="let lisspanata_fsc of alllist_fsc | paginate: { itemsPerPage: 5, currentPage: p };let i=index;">
                                                                        <span
                                                                            style="background-color: rgb(38, 45, 38); color:whitesmoke; text-transform: capitalize;"
                                                                            class="blink_me">FSC</span>
                                                                        <span>{{(5*(p-1))+(i+1)}}</span>
                                                                        <span style="white-space: nowrap"><span
                                                                                style="text-transform:uppercase">{{lisspanata_fsc.fname}}
                                                                                {{lisspanata_fsc.mname}}
                                                                                {{lisspanata_fsc.lname}}</span></span>
                                                                        <span style="white-space: nowrap">
                                                                            <span>{{lisspanata_fsc.phone}}</span>
                                                                        </span>
                                                                        <span style="white-space: nowrap"><span
                                                                                style="text-transform:uppercase">{{lisspanata_fsc.state}}</span>
                                                                        </span>
                                                                        <span style="white-space: nowrap"><span
                                                                                style="text-transform:uppercase">{{lisspanata_fsc.district}}</span>
                                                                        </span>
                                                                        <span style="white-space: nowrap"><span
                                                                                style="text-transform:uppercase">{{lisspanata_fsc.taluka}}</span>
                                                                        </span>
                                                                        <span style="white-space: nowrap"><span
                                                                                style="text-transform:uppercase">{{lisspanata_fsc.city}}</span>
                                                                        </span>

                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>