<main>
    <div class="main-content">
        <div class="row">
            <div class="col s12 m12 l12">
                <span class="page-title">
                    SCT Structure List
                </span>
                <ul class="breadcrumbs">
                    <li><a routerLink="/admin/dashboard">Home</a></li>
                    <li class="active">SCT Structure List</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m12 l12">

                            </div>
                        </div>
                        <div class="nowrap">
                            <table style="font-size: small" class="datatable responsive-table highlight"
                                id="pagedatatable">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap">Sr No.</th>
                                        <th style="white-space: nowrap">DSC Name</th>
                                        <th style="white-space: nowrap">Contact Number</th>
                                        <th style="white-space: nowrap">State</th>
                                        <th style="white-space: nowrap">District</th>
                                        <th style="white-space: nowrap">Taluka</th>
                                        <th style="white-space: nowrap">Village</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list_all_dsc of alllist | paginate: { itemsPerPage: 5, currentPage: p };let i=index;">

                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li id="collapsible_header_dsc_{{list_all_dsc.id}}"
                                                (click)="getBscUnderDSC(list_all_dsc.id,list_all_dsc.user_id)">
                                                <div class="collapsible-header">
                                                    <span
                                                        style="background-color: rgb(9, 233, 9); color:whitesmoke; text-transform: capitalize;"
                                                        class="blink_me">DSC</span>
                                                    <span>{{(5*(p-1))+(i+1)}}</span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{list_all_dsc.fname}}
                                                            {{list_all_dsc.mname}}
                                                            {{list_all_dsc.lname}}</span></span>
                                                    <span
                                                        style="white-space: nowrap"><span>{{list_all_dsc.phone}}</span></span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{list_all_dsc.state}}</span>
                                                    </span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{list_all_dsc.district}}</span>
                                                    </span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{list_all_dsc.taluka}}</span>
                                                    </span>
                                                    <span style="white-space: nowrap"><span
                                                            style="text-transform:uppercase">{{list_all_dsc.city}}</span>
                                                    </span>
                                                </div>
                                                <div class="collapsible-body"
                                                    >
                                                    <ul class="collapsible collapsible_body_bsc_{{list_all_dsc.id}}" id="">
                                                        <li
                                                            *ngFor="let lisspanata_bsc of alllist_bsc" class="collapsible_body_bsc_{{list_all_dsc.id}}">

                                                            <div class="collapsible-header"
                                                                
                                                                (click)="getFscUnderBsc(lisspanata_bsc.id,lisspanata_bsc.user_id)">
                                                                <span
                                                                    style="background-color: rgb(131, 158, 131); color:whitesmoke; text-transform: capitalize;"
                                                                    class="blink_me">BSC</span>
                                                                <span>{{(5*(p-1))+(i+1)}}</span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.fname}}
                                                                        {{lisspanata_bsc.mname}}
                                                                        {{lisspanata_bsc.lname}}</span></span>
                                                                <span style="white-space: nowrap">
                                                                    <span>{{lisspanata_bsc.phone}}</span>
                                                                </span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.state}}</span>
                                                                </span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.district}}</span>
                                                                </span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.taluka}}</span>
                                                                </span>
                                                                <span style="white-space: nowrap"><span
                                                                        style="text-transform:uppercase">{{lisspanata_bsc.city}}</span>
                                                                </span>
                                                            </div>
                                                            <div class="collapsible-body"
                                                                id="collapsible_body_fsc_{{lisspanata_bsc.user_id}}">
                                                                <ul class="collapsible">
                                                                    <li
                                                                        *ngFor="let lisspanata_fsc of alllist_fsc | paginate: { itemsPerPage: 5, currentPage: p };let i=index;">
                                                                        <div class="collapsible-header">
                                                                            <span
                                                                                style="background-color: rgb(38, 45, 38); color:whitesmoke; text-transform: capitalize;"
                                                                                class="blink_me">FSC</span>
                                                                            <span>{{(5*(p-1))+(i+1)}}</span>
                                                                            <span style="white-space: nowrap"><span
                                                                                    style="text-transform:uppercase">{{lisspanata_fsc.fname}}
                                                                                    {{lisspanata_fsc.mname}}
                                                                                    {{lisspanata_fsc.lname}}</span></span>
                                                                            <span style="white-space: nowrap">
                                                                                <span>{{lisspanata_fsc.phone}}</span>
                                                                            </span>
                                                                            <span style="white-space: nowrap"><span
                                                                                    style="text-transform:uppercase">{{lisspanata_fsc.state}}</span>
                                                                            </span>
                                                                            <span style="white-space: nowrap"><span
                                                                                    style="text-transform:uppercase">{{lisspanata_fsc.district}}</span>
                                                                            </span>
                                                                            <span style="white-space: nowrap"><span
                                                                                    style="text-transform:uppercase">{{lisspanata_fsc.taluka}}</span>
                                                                            </span>
                                                                            <span style="white-space: nowrap"><span
                                                                                    style="text-transform:uppercase">{{lisspanata_fsc.city}}</span>
                                                                            </span>

                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>